#rectangle_9 {
	top: 0px;
	left: 0px;
	width: 1536px;
	height: 148px;
	background:rgba(246.5,121.52,6.16,1);
}

#image_4 {
	top: 100px;
	width: 700px;
	height: 431px;
}

#kontakti {
	top: 167px;
	left: 201px;
	width: 232px;
	height: 83px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-decoration: underline;
	text-align: left;
	color:#F67906;
}

#rezerv {
	top: 167px;
	left: 499px;
	width: 309px;
	height: 83px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-decoration: underline;
	text-align: left;
	color:#F67906;
}

#parasta_zona {
	top: 167px;
	left: 886px;
	width: 351px;
	height: 83px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#F67906;
    text-decoration: underline;
}